AddDefaultCharset utf-8
RewriteEngine On

<Files ~ "\.(sql|tpl)$">  
deny from all  
</Files>

RewriteCond %{HTTP_HOST} ^www.localhost:8081
RewriteRule ^(.*)$ http://localhost:8081/$1 [R=301,L]
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.php

#php_flag register_globals off
#php_flag magic_quotes_gpc off
#php_flag display_errors On
#php_flag expose_php On